.env
api-gateway/.env
view-service/.env
search-service/.env
cart-service/.env
buy-service/.env
frontend/.env

__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*/venv/
*/__pycache__/

.vscode/
.idea/
.DS_Store

instance/
