SECRET_KEY=e0b6d4c2f8a0b2d4c6e8f0a2c4e6a8b0
JWT_SECRET=f98ff53d152c88dff281bfb9e70712b70b8123cc95622671989c869dcd3f286e

PORT=5004

DB_HOST=buy-db
DB_PORT=3306
DB_USER=buy_user
DB_PASSWORD=buy_pass
DB_NAME=buy_db

VIEW_SERVICE_URL=http://view-service:5001
CART_SERVICE_URL=http://cart-service:5003
